<header>
  <h1>Sort Lines Alphabetically</h1>
</header>
<main>
  <section>
    <fc-text
      [(ngModel)]="model"
      (ngModelChange)="changeSubject.next()"
    >
      Enter lines here
      <icon
        size="1em"
        type="star"
        fillRotate="90"
        [fill]="[null, 'current']"
      ></icon>
    </fc-text>
    <div>
      <fc-button (clicked)="reset()">
        Reset
      </fc-button>
    </div>
    <fc-choice
      [(ngModel)]="ascending"
      (ngModelChange)="changeSubject.next()"
      required
      [items]="ascendingItems"
    >Order</fc-choice>
  </section>
  <section>
    <fc-text
      [(ngModel)]="sortedModel"
      [disabled]="sortedModel === null"
    >
      Result
      <icon
        *ngIf="ascending"
        size="1em"
        type="descend"
        fillRotate="90"
        [fill]="[null, 'current']"
      ></icon>
      <icon
        *ngIf="!ascending"
        size="1em"
        type="ascend"
        fillRotate="90"
        [fill]="['current', null]"
      ></icon>
    </fc-text>
    <div>
      <fc-button
        [isDisabled]="sortedModel === null"
        (clicked)="copy()"
      >
        Copy
      </fc-button>
    </div>
    <div>
      <fc-choice
        [(ngModel)]="theme"
        (ngModelChange)="onChangeTheme()"
        required
        [items]="themeItems"
      >
        Theme
      </fc-choice>
    </div>
  </section>
</main>
<div
  id="background"
  [class]="theme === lightColor ? 'dark' : 'light'"
></div>
