:host > div {
  display: grid;
  margin-bottom: 2em;

  @media (min-width: 720px) {
    margin-top: 0;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.25em;
  }

  > section {
    > * {
      margin-bottom: 1em;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-top: 2em;
      @media (min-width: 720px) {
        margin-top: 0;
        padding-left: 0.5em;
        border-left: 0.2em double darkgrey;
      }
    }
  }
}
