<h1>
  Sort Lines Alphabetically
</h1>
<main>
  <section>
    <fc-text
      [(ngModel)]="model"
      (ngModelChange)="changeSubject.next()"
    >
      Enter lines here
      <icon
        size="1em"
        type="star"
        [fillOpacity]="0"
        stroke="FFFFFF"
      ></icon>
    </fc-text>
    <div>
      <fc-button (clicked)="reset()">
        Reset
      </fc-button>
    </div>
    <fc-choice
      [(ngModel)]="ascending"
      (ngModelChange)="changeSubject.next()"
      required
      [items]="ascendingItems"
    >
      Order
    </fc-choice>
  </section>
  <section>
    <fc-text
      [(ngModel)]="sortedModel"
      [disabled]="sortedModel === null"
    >
      Result
      <icon
        size="1em"
        [type]="ascending ? 'descend' : 'ascend'"
        [fillOpacity]="0"
        stroke="FFFFFF"
      ></icon>
    </fc-text>
    <div>
      <fc-button
        [isDisabled]="sortedModel === null"
        (clicked)="copy()"
      >
        Copy
      </fc-button>
    </div>
  </section>
</main>
<div id="background"></div>
