#sorted {
  white-space: pre-line;
}

textarea {
  display: block;
  width: 100%;
  height: 10em;
  margin: 0.5em 0;
}

:host > div {
  display: grid;
  @media (min-width: 690px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    > section:last-child {
      padding-left: 0.5em;
      border-left: 1px dashed darkgrey;
      > h2 {
        margin-top: 0;
      }
    }
  }
}

img {
  height: 1em;
}
